@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap&family=Lexend+Zetta&display=swap&family=Squada+One&display=swap');


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.background1 {
    background-image: url("../images/Welcome-bg.jpg");
    padding-left: 0;
    padding-right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*------------------------------------------------------------LOGO STYLING*/

.logo {
    margin-left: 35%;
    padding-top: 25%;
}


/*--------------------------------------------------HORIZONTAL RULE STYLING*/

.hr1 {
    border: none;
    height: 4px;
    background-color: #032749;
    margin-left: 25%;
    margin-right: 25%;
}


.hr2 {
    border: none;
    height: 2px;
    background-color: #032749;
    margin-left: 25%;
    margin-right: 25%;
}

/*--------------------------------------------------RULES STYLING*/

.rules-box {
    font-family: Righteous, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #032749;
    border: #032749 solid 3px;
    border-radius: 35px;
    margin-left: 15%;
    margin-right: 15%;
}

.rules {
    padding-bottom: 15%;
    padding-top: 2rem;
}

.rules-title {
    margin-bottom: 0;
}


/*--------------------------------------------START BUTTON STYLING*/
.startbtn {
    font-family: Righteous, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: #032749;
    background-color: #99CC33;
    border: #032749 solid 3px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.startbtnbox {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 47%;
    
}
